header
	.header_in
		nav
			h1.logo my<span>folio</span>
			ul.nav
				li.active
					a(href='#') home
				li
					a(href='#') about me
				li
					a(href='#') services
				li
					a(href='#') my work
				li
					a(href='#') contact me