header: .header_in
	h1.logo: a(href="#") my<span>folio</span>
	nav.nav
		- var valueLi = ["home", "about me", "services", "my work", "contact me"]
		ul
			for name in valueLi
				li
					a(href="#")= name